<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='book.PNG') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='book.PNG') }}" class="icon" />
  <h3>Reading Tool</h3>
  <h5>Enter your reading level below. OpenAI will generate a script for you to read.</h5>
  <form action="{{ url_for('index') }}" method="POST">
    <textarea name="Reading-level" placeholder="Enter your reading level" required class="my-textarea" /></textarea>
    <input type="submit" value="Generate" class="small-button"/>
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>


<form>
<!doctype html>
<html>
  <head>
    <title>Upload new File</title>
  </head>
  <body>
    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
  </body>
</html>
</form>